In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
sns.set_style("whitegrid")
sns.set_palette("GnBu_d")
import folium
from folium import plugins
from folium.plugins import HeatMap
from datetime import datetime
from datetime import timedelta
import math
import random 
import timeit

In [18]:
BRM = pd.read_csv("bremen.csv")
BRM.describe()

,day,time,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng
0,2019-04-21,17:34:00,20507,bremen,0 days 00:13:00.000000000,53.078923,8.884911,53.078711,8.899906
1,2019-05-23,15:33:00,20507,bremen,0 days 00:07:00.000000000,53.078923,8.884911,53.078004,8.876828
2,2019-06-14,22:30:00,20507,bremen,0 days 00:08:00.000000000,53.078923,8.884911,53.074731,8.876003
3,2019-06-16,10:00:00,20507,bremen,0 days 02:02:00.000000000,53.074731,8.876003,53.078923,8.884911
4,2019-06-16,12:55:00,20507,bremen,0 days 02:23:00.000000000,53.078923,8.884911,53.076236,8.891322
...,...,...,...,...,...,...,...,...,...
157571,2019-11-17,16:37:00,20999,bremen,0 days 00:08:00.000000000,53.072835,8.814104,53.072084,8.828756
157572,2019-11-17,18:39:00,20999,bremen,0 days 00:05:00.000000000,53.072071,8.828776,53.070533,8.821335
157573,2019-11-18,09:23:00,20999,bremen,0 days 00:09:00.000000000,53.070369,8.821749,53.079360,8.813848
157574,2019-11-19,15:35:00,20999,bremen,0 days 00:43:00.000000000,53.079591,8.813925,53.145093,8.910599
157575,2019-11-21,17:45:00,20999,bremen,0 days 00:11:00.000000000,53.145798,8.909947,53.158160,8.945250

In [16]:
FRB = pd.read_csv("freiburg.csv")
FRB

,day,time,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng
0,2019-05-06,14:22:00,32560,freiburg,0 days 00:07:00.000000000,47.993178,7.795708,47.994027,7.796084
1,2019-05-07,10:42:00,32560,freiburg,0 days 00:07:00.000000000,47.994191,7.796853,47.991960,7.797405
2,2019-05-07,11:02:00,32560,freiburg,0 days 00:09:00.000000000,47.992044,7.797352,47.992000,7.797478
3,2019-05-07,12:48:00,32560,freiburg,0 days 00:23:00.000000000,47.992107,7.797499,47.994271,7.796668
4,2019-05-08,09:00:00,32560,freiburg,0 days 00:03:00.000000000,47.994178,7.796721,47.992307,7.796708
...,...,...,...,...,...,...,...,...,...
127524,2020-01-20,08:14:00,32999,freiburg,0 days 00:12:00.000000000,48.012050,7.854987,47.994729,7.846862
127525,2020-01-20,09:10:00,32999,freiburg,0 days 00:04:00.000000000,47.996100,7.846160,48.000858,7.849587
127526,2020-01-20,10:03:00,32999,freiburg,0 days 00:24:00.000000000,48.000858,7.849587,48.002664,7.851253
127527,2020-01-20,13:55:00,32999,freiburg,0 days 00:07:00.000000000,48.002664,7.851253,47.997430,7.842500
127528,2020-01-20,14:16:00,32999,freiburg,0 days 00:18:00.000000000,47.997430,7.842500,48.013770,7.807080