In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
sns.set_style("whitegrid")
sns.set_palette("GnBu_d")
from datetime import datetime
from datetime import timedelta
import math
import random 
import timeit
from dateutil import parser

In [2]:
brm_frame = pd.read_csv("../resources/bremen.csv")
brm_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157576 entries, 0 to 157575
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   day            157576 non-null  object
 1   time           157576 non-null  object
 2   b_number       157576 non-null  int64
 3   city           157576 non-null  object
 4   trip_duration  157576 non-null  object
 5   orig_lat       157576 non-null  float64
 6   orig_lng       157576 non-null  float64
 7   dest_lat       157576 non-null  float64
 8   dest_lng       157576 non-null  float64
dtypes: float64(4), int64(1), object(4)
memory usage: 10.8+ MB

In [3]:
frb_frame = pd.read_csv("../resources/freiburg.csv")

In [4]:
brm_frame["minutes"]=brm_frame["trip_duration"].map(lambda x:int(x[10:12])+int(x[7:9])*60)
brm_frame["revenue"]=(brm_frame["minutes"]/30).apply(np.ceil)
frb_frame["minutes"]=frb_frame["trip_duration"].map(lambda x:int(x[10:12])+int(x[7:9])*60)
frb_frame["revenue"]=(frb_frame["minutes"]/30).apply(np.ceil)

In [5]:
brm_frame
frb_frame

,day,time,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng,minutes,revenue
0,2019-05-06,14:22:00,32560,freiburg,0 days 00:07:00.000000000,47.993178,7.795708,47.994027,7.796084,7,1.0
1,2019-05-07,10:42:00,32560,freiburg,0 days 00:07:00.000000000,47.994191,7.796853,47.991960,7.797405,7,1.0
2,2019-05-07,11:02:00,32560,freiburg,0 days 00:09:00.000000000,47.992044,7.797352,47.992000,7.797478,9,1.0
3,2019-05-07,12:48:00,32560,freiburg,0 days 00:23:00.000000000,47.992107,7.797499,47.994271,7.796668,23,1.0
4,2019-05-08,09:00:00,32560,freiburg,0 days 00:03:00.000000000,47.994178,7.796721,47.992307,7.796708,3,1.0
...,...,...,...,...,...,...,...,...,...,...,...
127524,2020-01-20,08:14:00,32999,freiburg,0 days 00:12:00.000000000,48.012050,7.854987,47.994729,7.846862,12,1.0
127525,2020-01-20,09:10:00,32999,freiburg,0 days 00:04:00.000000000,47.996100,7.846160,48.000858,7.849587,4,1.0
127526,2020-01-20,10:03:00,32999,freiburg,0 days 00:24:00.000000000,48.000858,7.849587,48.002664,7.851253,24,1.0
127527,2020-01-20,13:55:00,32999,freiburg,0 days 00:07:00.000000000,48.002664,7.851253,47.997430,7.842500,7,1.0
127528,2020-01-20,14:16:00,32999,freiburg,0 days 00:18:00.000000000,47.997430,7.842500,48.013770,7.807080,18,1.0

In [6]:
brm_frame_revenue_daily=brm_frame.groupby(["day"]).agg({"revenue":"sum"})
frb_frame_revenue_daily=frb_frame.groupby(["day"]).agg({"revenue":"sum"})

In [7]:
brm_frame_revenue_hourly=brm_frame.groupby(["day","time"]).agg({"revenue":"sum"})
frb_frame_revenue_hourly=frb_frame.groupby(["day","time"]).agg({"revenue":"sum"})

In [8]:
print brm_frame_revenue_daily
print frb_frame_revenue_daily

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(brm_frame_revenue_daily)? (<ipython-input-8-0f0570648e45>, line 1)

In [ ]:
print brm_frame_revenue_hourly
print frb_frame_revenue_daily

In [ ]:
plt.plot(brm_frame_revenue_daily)
plt.show()

In [ ]:
plt.plot(frb_frame_revenue_daily)
plt.show()